<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Assets/css/styles.css">
  <link rel="stylesheet" href="../Assets/css/responsive.css">
  <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <script src="../Assets/bootstrap/js/bootstrap.bundle.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <title>SOS-Battle Royal</title>
  <style>
      .table-responsive {
          margin: 30px 0;
      }
    .table-wrapper {
      min-width: 1000px;
          background: #fff;
          padding: 20px;        
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }
    .table-title {
          padding-bottom: 10px;
          margin: 0 0 10px;
      }
      .table-title h2 {
          margin: 8px 0 0;
          font-size: 22px;
      }
      
      table.table tr th, table.table tr td {
          border-color: #e9e9e9;
      }
      table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
      table.table th i {
          font-size: 13px;
          margin: 0 5px;
          cursor: pointer;
      }
      table.table td:last-child {
          width: 130px;
      }
      table.table td a {
          color: #a0a5b1;
          display: inline-block;
          margin: 0 5px;
      }
    table.table td a.view {
          color: #03A9F4;
      }
      table.table td a.edit {
          color: #FFC107;
      }
      table.table td a.delete {
          color: #E34724;
      }
      table.table td i {
          font-size: 19px;
      }

      /* Modal styles */
	.modal .modal-dialog {
		max-width: 400px;
	}
	.modal .modal-header, .modal .modal-body, .modal .modal-footer {
		padding: 20px 30px;
	}
	.modal .modal-content {
		border-radius: 3px;
	}
	.modal .modal-footer {
		background: #ecf0f1;
		border-radius: 0 0 3px 3px;
	}
    .modal .modal-title {
        display: inline-block;
    }
	.modal .form-control {
		border-radius: 2px;
		box-shadow: none;
		border-color: #dddddd;
	}
	.modal textarea.form-control {
		resize: vertical;
	}
	.modal .btn {
		border-radius: 2px;
		min-width: 100px;
	}	
	.modal form label {
		font-weight: normal;
	}	       
  </style>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto" style="width: 200px;" href="#">LOGO</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/users">User Management</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/bio">User Biodata</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/history">User History</a>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    </div>
  </header>

  <main>
  <div class="dashboard align-items-center text-center">
    <div class="container">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div><h2>Customer <b>Details</b></h2></div>
                  </div>
                  <div class="col-xs-6">
                    <a href="#addModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>						
                  </div>
              </div>
              <table class="table table-striped table-hover table-bordered">
                <thead>
                  <tr>
                      <th>User ID</th>
                      <th>Fullname</th>
                      <th>City</i></th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                <% user.forEach(i => { %>
                  <tr>
                      <td><%= i.user_id %> </td>
                      <td><%= i.first_name %> <%= i.last_name %></td>
                      <td><%= i.kota %> </td>
                          <td>
                              <a href="#" class="edit" data-toggle="modal" data-target="#editModal<%= i.id %>"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								              <a href="#" class="delete" data-toggle="modal" data-target="#deleteModal<%= i.id %>" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

                              <!-- DELETE START -->
                              <div id="deleteModal<%= i.id %>" class="modal fade">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <form action="/dashboard/users/<%= i.user_id %>?_method=DELETE" method="POST">
                                      <div class="modal-header">						
                                        <h4 class="modal-title">Delete User</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      </div>
                                      <div class="modal-body">					
                                        <p>Are you sure you want to delete these Records?</p>
                                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                                      </div>
                                      <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                              <!-- DELETE END -->

                              <!-- EDIT START -->
                              <div id="editModal<%= i.id %>" class="modal fade">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    
                                    <form action="/dashboard/bio/<%= i.id %>?_method=PUT" method="POST">
                                      <div class="modal-header">						
                                        <h4 class="modal-title">Edit Biodata User</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      </div>
                                      <div class="modal-body">					
                                        <div class="form-group row">
                                          <div class="col-md-6">
                                              <label for="fname">First Name</label>
                                              <input type="text" id="first_name" class="form-control" name="first_name" value="<%= i.first_name %>">
                                          </div>
                                          <div class="col-md-6">
                                              <label for="lname">Last Name</label>
                                              <input type="text" id="last_name" class="form-control" name="last_name" value="<%= i.last_name %>">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <div class="col-md-12">
                                              <label for="Kota Asal">Kota Asal</label>
                                              <input type="text" class="form-control" name="kota" value="<%= i.kota %>">
                                          </div>
                                      </div>
                              
                                      <div class="form-group">
                                        
                                      </div>
                              
                                      </div>
                                      <div class="modal-footer">
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                        <input type="submit" class="btn btn-success" value="Add">
                                      </div>
                                    </form>


                                  </div>
                                </div>
                              </div>
                              <!-- EDIT END -->
                          </td>
                      </tr>
                      <% }) %>
                  </tbody>
              </table>
          </div>
      </div>        
  </div> 
</div> 
</main>


<!-- ADD Modal HTML -->
<div id="addModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/dashboard/users" method="POST">
        <div class="modal-header">						
          <h4 class="modal-title">Add User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          
          <div class="form-group row">
            <div class="col-md-6">
                <label for="fname">First Name</label>
                <input type="text" id="first_name" class="form-control" name="first_name">
            </div>
            <div class="col-md-6">
                <label for="lname">Last Name</label>
                <input type="text" id="last_name" class="form-control" name="last_name">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="Kota Asal">Kota Asal</label>
                <input type="text" class="form-control" name="kota">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" name="email">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="username">Username</label>
                <input type="text" id="username" class="form-control" name="username">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" name="password">
            </div>
        </div>

        <div class="form-group row">
          <div class="col-md-12">
            <div class="row">
              <label class="col-sm-4 control-label">User Role</label>
                <div class="col-sm-8">
                  <select name="level" class="form-control select2" value="" style="width: 100%;">
                    <option value="admin">Administrator</option>
                    <option value="member">Member</option>
                </select>
              </div>
            </div>
          </div>
      </div>

        <div class="form-group">
          
        </div>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="submit" class="btn btn-success" value="Add">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- EDIT Modal HTML -->


<!-- Delete Modal HTML -->

</body>

<scrior></scrior>
</html>