<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="Assets/css/styles.css">
  <link rel="stylesheet" href="Assets/css/responsive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="Assets/bootstrap/js/bootstrap.bundle.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>SOS-Battle Royal</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto" style="width: 200px;" href="#">LOGO</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/users">User Management</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/bio">User Biodata</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/history">User History</a>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    </div>
  </header>

  <main>
    <div class="dashboard align-items-center text-center">
        <div class="container">
          <h1>
             
          </h1>
            <div class=" row">
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"> User</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= user.count %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        
    <div class="history">

    </div>
  </main>

</body>

<scrior></scrior>
</html>