<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../Assets/css/styles.css">
  <link rel="stylesheet" href="../Assets/css/responsive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="../Assets/bootstrap/js/bootstrap.bundle.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <title>SOS-Battle Royal</title>
  <style>
      .table-responsive {
          margin: 30px 0;
      }
    .table-wrapper {
      min-width: 1000px;
          background: #fff;
          padding: 20px;        
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
      }
    .table-title {
          padding-bottom: 10px;
          margin: 0 0 10px;
      }
      .table-title h2 {
          margin: 8px 0 0;
          font-size: 22px;
      }
      
      table.table tr th, table.table tr td {
          border-color: #e9e9e9;
      }
      table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }
    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }
      table.table th i {
          font-size: 13px;
          margin: 0 5px;
          cursor: pointer;
      }
      table.table td:last-child {
          width: 130px;
      }
      table.table td a {
          color: #a0a5b1;
          display: inline-block;
          margin: 0 5px;
      }
    table.table td a.view {
          color: #03A9F4;
      }
      table.table td a.edit {
          color: #FFC107;
      }
      table.table td a.delete {
          color: #E34724;
      }
      table.table td i {
          font-size: 19px;
      }       
  </style>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
  });
  </script>

</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto" style="width: 200px;" href="#">LOGO</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/users">User Management</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/bio">User Biodata</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 100px;">
              <a class="nav-link" href="/dashboard/history">User History</a>
            </li>
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
    </nav>
    </div>
  </header>

  <main>
    <div class="dashboard align-items-center text-center">
    <div class="container">
      <div class="table-responsive">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                      <div><h2>Customer <b>Details</b></h2></div>
                  </div>
              </div>
              <table class="table table-striped table-hover table-bordered">
                  <thead>
                      <tr>
                          <th>User ID</th>
                          <th>Username</th>
                          <th>Score User</th>
                          <th>Score Computer</th>
                          <th>Status</th>
                          <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% user.forEach(i => { %>
                      <tr>
                          <td><%= i.user_id %> </td>
                          <td><%= i.User.username %> </td>
                          <td><%= i.score_user %> </td>
                          <td><%= i.score_comp %> </td>
                          <td><%= i.status %> </td>
                          <td>
                            <a href="#" class="delete" data-toggle="modal" data-target="#deleteModal<%= i.id %>" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

                            <!-- DELETE START -->
                            <div id="deleteModal<%= i.id %>" class="modal fade">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <form action="/dashboard/history/<%= i.id %>?_method=DELETE" method="POST">
                                    <div class="modal-header">						
                                      <h4 class="modal-title">Delete User</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">					
                                      <p>Are you sure you want to delete these Records?<%= i.username %></p>
                                      <p class="text-warning"><small>This action cannot be undone.</small></p>
                                    </div>
                                    <div class="modal-footer">
                                      <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                      <input type="submit" class="btn btn-danger" value="Delete">
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                            <!-- DELETE END -->
                          </td>
                      </tr>
                      <% }) %>
                  </tbody>
              </table>

          </div>
      </div>        
  </div> 
</div>    
  </main>

</body>

<scrior></scrior>
</html>