<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="Assets/css/styles.css">
  <link rel="stylesheet" href="Assets/css/responsive.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="Assets/bootstrap/js/bootstrap.bundle.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <title>SOS-Battle Royal</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand mr-auto" style="width: 200px;" href="#">LOGO</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item mr-auto active" style="width: 80px;">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item mr-auto active" style="width: 80px;">
              <a class="nav-link" href="#slider">WORK</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 80px;">
              <a class="nav-link" href="#features">CONTACT</a>
            </li>
            <li class="nav-item mr-auto active" style="width: 80px;">
              <a class="nav-link" href="#requirements">ABOUT ME</a>
            </li>
            <% if(userId){ %>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard">DASHBOARD</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/game">GAME</a>
              </li>
            <% } else{ %>  
              <!-- tidak ada -->
           <% } %>
          </ul>

          <ul class="navbar-nav my-2 my-lg-0">
            <% if(!userId){ %>
              <li class="nav-item">
                <a class="nav-link" href="/signup">SIGN UP</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">LOGIN</a>
              </li>
            <% } else{ %>  
              <li class="nav-item">
                <a class="nav-link" href="/logout">LOGOUT</a>
              </li>
           <% } %>
            
          </ul>
        </div>
    </nav>
    </div>
  </header>

  <main>
    <section id="#banner" class="banner align-items-center text-center">
      <div class="container">
        <h1>PLAY TRADITIONAL GAME</h1> <br><br>
          <p class="lead">Experience new traditional play games.</p> <br>
          <a href="/login" class="btn btn-warning my-2">PLAY NOW</a>
      </div>
      <div class="scroll-down">
        <a href="#slider">THE STORY</a>
        <p><i class="fa fa-caret-down" style="font-size:24px;color:red"></i></p>
      </div>
    </section>

    <div class="slider" id="slider">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h4>What's so special?</h4>
            <h2>THE GAMES</h2>
          </div>

          <div class="col-md-8">
              <div id="custCarousel" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                  </ol> 
                  <div class="carousel-inner">
                      <div class="carousel-item active"> <img src="Assets/images/image-1.png" alt="Hills"> </div>
                      <div class="carousel-item"> <img src="Assets/images/image-1.png" alt="Hills"> </div>
                      <div class="carousel-item"> <img src="Assets/images/image-1.png" alt="Hills"> </div>
                      <div class="carousel-item"> <img src="Assets/images/image-1.png" alt="Hills"> </div>
                  </div>
              
                  <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span></a>
                  <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                    <span class="carousel-control-next-icon"></span> </a>
              </div>

          </div>
        </div>
      </div>
    </div>

    <div class="features" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-5 ml-auto">
            <h4>What's so special?</h4>
            <h2>FEATURES</h2> 
            <div class="feature">
              <div class="ft-item active">
                <div class="ft-dot b-primary"></div>
                <div class="ft-content">
                  <h4>TRADITIONAL GAMES</h4>
                  <p>If yiu miss your chilhood, we provide many traditional games here</p>
                </div>
              </div>
              <div class="ft-item">
                <div class="ft-dot b-primary"></div>
                <div class="ft-content">
                  <h4>GAME SUIT</h4>
                </div>
              </div>
              <div class="ft-item">
                <div class="ft-dot b-primary"></div>
                <div class="ft-content">
                  <h4>TBD</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="requirements" id="requirements">
      <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>SYSTEM REQUIREMENTS</h2>
            </div>
            <div class="col-md-4">
              <p>Can My Computer Run this game?</p>
            </div>

          </div> 
          <div class="requirement">
            <div class="row">
              <div class="col-md-3 pt-2 border">
                <h4 class="title-req">OS:</h4>
                <p>Windows 7 64-bit only (No OSX support at this time</p>
              </div>
              <div class="col-md-3 pt-2 border">
                <h4 class="title-req">PROCESSOR</h4>
                <p>Intel Core Dou @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 pt-2 border">
                <h4 class="title-req">MEMORY</h4>
                <p>4 GB RAM</p>
              </div>
              <div class="col-md-3 pt-2 border">
                <h4 class="title-req">STORAGE</h4>
                <p>8 GB available space</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pt-2 border">
              <h4 class="title-req">GRAPHICS:</h4>
              <p>NVIDIA GeForce GTX660 2GB or</p>
              <p>AMD Radeon HD 7850 2Gb DirextX11 (Shader Model 5)</p>
            </div>
            </div>
          </div>

      </div>
    </div>

    <div class="scores" id="scores">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2>TOP SCORES</h2>
            <p>This top score from various game provided on this platform</p>
            <button class="btn btn-warning">see more</button>
          </div>

          <div class="col-md-6 ml-auto">
                      <div class="card col-md-8" id="geser">
                        <div class="media d-flex justify-content-between align-items-center">
                          <div class="user-image mr-2">
                            <img src="Assets/images/img-profile.jpg" class="rounded-circle" width="70">
                          </div>
                          <div class="media-body">
                            <h5 class="mt-2">Evan Lahti <span class="float-right"> <i class="fa fa-twitter" style="font-size:12px;color:white"></i></span></h5>
                            <p>PC Gamer</p>
                          </div>
                        </div>
                          <p>"One of my gaming highlights of the year."</p>
                          <p>October 18,2018</p>
                      </div> <br>

                      <div class="card col-md-8">
                        <div class="media d-flex justify-content-between align-items-center">
                          <div class="user-image mr-2">
                            <img src="Assets/images/img-profile1.jpg" class="rounded-circle" width="70">
                          </div>
                          <div class="media-body">
                            <h5 class="mt-2">Jada Griffin <span class="float-right"> <i class="fa fa-twitter" style="font-size:12px;color:white"></i></span></h5>
                            <p>Nerdreactor</p>
                          </div>
                        </div>
                          <p>"The nect big thing in the world of streaming and survival games."</p>
                          <p>December 21, 2018</p>
                      </div> <br>

                      <div class="card col-md-8" id="geser">
                        <div class="media d-flex justify-content-between align-items-center">
                          <div class="user-image mr-2">
                            <img src="Assets/images/img-profile2.jpg" class="rounded-circle" width="70">
                          </div>
                          <div class="media-body">
                            <h5 class="mt-2">Aaron Williams <span class="float-right"> <i class="fa fa-twitter" style="font-size:12px;color:white"></i></span></h5>
                            
                            <p>PC Gamer</p>
                          </div>
                        </div>
                          <p>"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
                          <p>December 24, 2018</p>
                      </div>
          </div>
        </div>
      </div>
    </div>
  </main>

<footer id="footer">
  <div class="container">
    <div class="subscribe row align-items-center" >
            <div class="col-md-6 ml-auto">
              <h3>Want to stay in touch?</h3>
              <h1>NEWSLETTER SUBSCRIBE</h1>
              <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p> <br><br>
              <form class="form-inline">

                <div class="form-group mr-sm-3">
                  <label for="staticEmail2" class="sr-only">Your email address</label>
                  <input type="email" class="form-control-plaintext" name="staticEmail2" id="staticEmail2" placeholder="Your email address">
                </div>

                <button type="submit" class="btn btn-warning">Subscribe now</button>
              </form>
            </div>
    </div>

    <div class="row">
      <div class="d-md-flex  col-md-10 pt-5 mb-3 ml-auto">
          <div class="p-2 flex-fill bd-highlight mb-md-0">
            <a href="#">MAIN</a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-md-0">
            <a href="#">ABOUT</a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-md-0">
            <a href="#">GAME FEATURES</a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-md-0">
            <a href="#">SYSTEM REQUIREMENTS</a>
          </div>
          <div class="p-2 flex-fill bd-highlight mmb-md-0">
            <a href="#">QUOTES</a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-md-0">
            <a href="#">
              <i class="fa fa-facebook" style="font-size:12px;color:white"></i>
            </a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
            <a href="#"><i class="fa fa-twitter" style="font-size:12px;color:white"></i></a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
            <a href="#"><i class="fa fa-youtube-play" style="font-size:12px;color:red"></i></a>
          </div>
          <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
            <a href="#"><i class="fa fa-twitch" style="font-size:12px"></i></a>
          </div>
      </div>
      <div class="line mb-3"></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p> © 2018 Your Games, Inc. All Rights Reserved</p>
    </div>
    <div class="col-md-4 ml-auto">
      <a href="#">Privacy Policy</a> | <a href="#"> of Services </a> | <a href="#">of Conduct</a></div>


  </div>
  </div>
</footer>

</body>

<scrior></scrior>
</html>