<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
        html, body {
            height: 100%;
        }
    </style>

    <title>Login</title>
</head>
<body>
    <div class="h-100 container justify-content-center">
        <div class="h-100 row align-items-center d-flex justify-content-center">
            <div class="jumbotron p-4" style="width:30rem">
                <h1 class="display-4 d-flex justify-content-center">LOGIN</h1>
                <hr class="my-4">
               <form action="/users/login" method="POST">
                <div class="form-group row">
                    <label for="username" class="col-md-2 mr-5 col-form-label text-md-right">Username</label>
                    <div class="col-md-8">
                        <input type="text" id="username" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-md-2 mr-5 col-form-label text-md-right">Password</label>
                    <div class="col-md-8">
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    
                </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Login</button>            

                <div class="mt-3">
                    <p>Don't have an account?</p>
                    <a href="/signup" class="btn border border-info">Sign Up</a>
                </div>
               </form>
            </div>
        </div>
    </div>

    
</body>
</html>