<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binar Chapter4 Challenge</title>
    <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.min.css" class="rel">
    <link rel="stylesheet" href="Assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    
    <div class="row">
        <div class="d-flex justify-content-start pt-3 pl-5">
            <a href="/"><i class="fa fa-angle-left pr-5" style="font-size:70px;color:rgb(44, 21, 7)"></i></a>
            <img class="pr-2" src="Assets/images/logo.png" alt="">
            <h2 class="align-self-center">ROCK PAPER SCISSORS</h2>
        </div>
    </div>
    <div class="container border">
        <div class="row">
            <div class="papan_score mt-3 mb-5 mx-auto text-center">
                <div class="nama" id="user_lb"><%= user.username %><span style="display: none;" id="user_id"><%= user.id %></span> </div>
                <div class="nama" id="comp_lb">comp</div>
                <span id="user_sc">0</span>: <span id="comp_sc">0</span>
            </div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <div class="row align-items-center justify-content-center">
                        <div class="card mb-4 user" id="batu">
                            <img src="Assets/images/batu.png" class="px-2 py-3" alt="batu">
                        </div>
                </div>
                <div class="row justify-content-center">
                        <div class="card mb-4 user" id="gunting">
                            <img src="Assets/images/gunting.png" class="px-2 py-3" alt="gunting">
                        </div>
                </div>
                <div class="row justify-content-center">
                        <div class="card mb-4 user" id="kertas">
                            <img src="Assets/images/kertas.png" class="px-2 py-3" alt="kertas">
                        </div>
                </div>     
            </div>

            <div class="col-4 align-self-center" >
                <div class="row justify-content-center" style="border: 1px solid;">
                        <div class="col d-flex awal justify-content-center">
                            <h1 style="color: red;">VS</h1>
                        </div>
                        <div class="col d-flex akhir sembunyi justify-content-center">
                            <div class="hasil text-center">
                                <h1></h1>   
                            </div>
                        </div>
                </div>
                <div class="row justify-content-center" style="border: 1px solid;">
                    <div class="col keterangan text-center mt-5">
                        <h5></h5>
                    </div>
                </div>     
            </div>

            <div class="computer col-4">
                <div class="row justify-content-center">
                        <div class="card mb-4 comp">
                            <img src="Assets/images/batu.png" class="px-2 py-3" alt="batu">
                        </div>
                </div>
                <div class="row justify-content-center">
                        <div class="card mb-4 comp">
                            <img src="Assets/images/gunting.png" class="px-2 py-3" alt="gunting">
                        </div>
                </div>
                <div class="row justify-content-center">
                        <div class="card mb-4 comp">
                            <img src="Assets/images/kertas.png"class="px-2 py-3" alt="kertas">
                        </div>
                </div>     
            </div>
        </div>
        <div class="row align--center justify-content-center">
            <div class="saveHistory refresh">
                <img src="Assets/images/refresh.png" style="width: 100px;" >
            </div>
        </div>
        <div class="saveHistory">
            <button id="save">Save Data</button>
        </div>

        <div>
            <pre id="result"></pre>
        </div>
    </div>
    <script>
        const saveData=()=>{
            var user_id = $("#user_id").text();
            var score_user = $("#user_sc").text();
            var score_comp = $("#comp_sc").text();
            if(score_user>score_comp){
                var status ="win";
            }else if(score_user==score_comp){
                var status="draw";
            }else{
                var status="lose";
            }
            $.ajax
                    ({
                    type: "POST",
                    url: "/game",
                    data: { user_id:user_id, score_user:score_user, score_comp:score_comp, status:status },
                    success: function (data) {
                        $('.result').html(data);
                        }
                    });

        }
        document.addEventListener('DOMContentLoaded',()=>{
            document.getElementById('save').addEventListener('click',saveData);
        })

        </script>
    <script src="Assets/js/js.js"></script>
    
</body>
</html>