<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="Assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <style>
        html, body {
            height: 100%;
        }
    </style>

    <title>Login</title>
</head>
<body>
    <div class="h-100 container justify-content-center">
        <div class="h-100 row align-items-center d-flex justify-content-center">
            <div class="jumbotron p-4" style="width:30rem">
                <h1 class="display-5 d-flex justify-content-center">LOGIN</h1>
                <hr class="my-4">
                
               <form action="/users/register" method="POST">
                <!-- <form action="/signup" method="POST"> -->
                <div class="form-group row">
                    <div class="col-md-6">
                        <label for="fname">First Name</label>
                        <input type="text" id="first_name" class="form-control" name="first_name">
                    </div>
                    <div class="col-md-6">
                        <label for="lname">Last Name</label>
                        <input type="text" id="last_name" class="form-control" name="last_name">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="Kota Asal">Kota Asal</label>
                        <input type="text" id="kota" class="form-control" name="kota">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="email">Email</label>
                        <input type="text" id="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="username">Username</label>
                        <input type="text" id="username" class="form-control" name="username">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="form-control" name="password">
                    </div>
                    
                </div>
                    <button type="submit" class="btn btn-primary btn-block mt-3">Sign Up</button>
                <div class="mt-3">
                    <p>Already have an account?</p>
                    <a href="/login" class="btn border border-info">Log in</a>
                </div>
               </form>
               
            </div>
        </div>
    </div>

</body>
</html>