body {
    background-color: #967c59;
}

.papan_score {
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 46px;
    position: relative;
}

.nama {
    background-color: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user_lb {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp_lb {
    position: absolute;
    top: 30px;
    right: -25px;
}

.card {
    border-radius: 20px;
    border-color: #967c59;
    background-color: #967c59;
}

.card>img {
    width: 85px;
    height: 120px;
}

.card.user:hover {
    background-color: #aa9579;
    cursor: pointer;
}

.sembunyi {
    display: none !important;
}

.hasil {
    width: 170px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #4C9654;
    transform: rotate(-28deg);
}

.refresh:hover {
    cursor: pointer;
    transform: rotate(-28deg);
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }